.chat-time {
  font-size: 0.75rem;
  color: var(--ion-color-medium);
  margin-bottom: 5px;
  display: block;
  text-align: right;
}

.chat-product-context {
    font-size: 0.85rem !important;
    color: var(--ion-color-primary);
    font-weight: 600;
    margin: 2px 0;
}

.chat-badge {
  --padding-start: 6px;
  --padding-end: 6px;
  font-size: 0.75rem;
}

/* Para diferenciar visualmente Compra vs Venta */
.tag-role {
  font-size: 0.7rem;
  padding: 2px 6px;
  border-radius: 4px;
  margin-right: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.role-buy {
  background-color: var(--ion-color-tertiary-tint);
  color: var(--ion-color-tertiary-shade);
}

.role-sell {
  background-color: var(--ion-color-success-tint);
  color: var(--ion-color-success-shade);
}

ion-list {
    background: transparent;
}