.product-card {
  margin: 10px 5px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card-image-container {
  width: 100%;
  height: 180px; /* Altura fija para que todas las tarjetas midan lo mismo */
  overflow: hidden;
  position: relative;
}

.card-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.product-card:active img {
  transform: scale(1.05); /* Efecto de zoom suave al tocar */
}

.status-badge {
  position: absolute;
  top: 10px;
  right: 10px;
}

.price-tag {
  color: var(--ion-color-primary);
  font-weight: 900;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.card-title {
  font-size: 1rem;
  font-weight: 700;
}

.seller-info, .location-info {
  font-size: 0.8rem;
  color: var(--ion-color-medium);
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.action-btn {
  margin-top: 10px;
}